.res-wrap{
  display: flex;
  width: 100%;
  text-align: center;
  background-color: #407871;
  justify-content: space-evenly;
}
.res-p{
  color: #eee;
  font-size: 1.3rem;
  letter-spacing: .1rem;
}

@media (max-width: 600px) {
  .res-wrap{
    width: 70%;
    margin: 0 auto;
  }
}